<%= form_for(step) do |f| %>
  <% if step.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(step.errors.count, "error") %> prohibited this step from being saved:</h2>

      <ul>
      <% step.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :deed_id %>
    <%= f.text_field :deed_id %>
  </div>

  <div class="field">
    <%= f.label :executed_on %>
    <%= f.datetime_select :executed_on %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
